<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1 class="text-center mt-4">Employee List</h1>
    <div class="table-container">
        <table class="table table-bordered mt-4">
            <thead>
            <tr>
                <th>ToDo</th>
                <th>Progress</th>
                <th>Done</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through employees and display data in rows -->
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.toDo}"></td>
                <td th:text="${employee.progress}"></td>
                <td th:text="${employee.done}"></td>
                <td>
                    <a class="btn btn-primary"
                       th:href="@{/edit/{id}(id=${employee.id})}">Edit</a>
                    <form th:action="@{/delete/{id}(id=${employee.id})}" method="post"
                          class="d-inline">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title">ToDo</h2>
                                    <ul class="list-unstyled">
                                        <li th:each="employee : ${employees}"
                                            th:if="${employee.done == 'todo'}">
                                            <h3> ToDo <span th:text="${employee.toDo}"></span>
                                            </h3>
                                            <h3>Progress <span
                                                    th:text="${employee.progress}"></span>
                                            </h3>
                                            <h3> Done <span th:text="${employee.done}"></span>
                                            </h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title">In Progress</h2>
                                    <ul class="list-unstyled">
                                        <li th:each="employee : ${employees}"
                                            th:if="${employee.done == 'inProgress'}">
                                            <h3> ToDo <span th:text="${employee.toDo}"></span>
                                            </h3>
                                            <h3>Progress <span
                                                    th:text="${employee.progress}"></span>
                                            </h3>
                                            <h3> Done <span th:text="${employee.done}"></span>
                                            </h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title">Done</h2>
                                    <ul class="list-unstyled">
                                        <li th:each="employee : ${employees}"
                                            th:if="${employee.done == 'done'}">
                                            <h3> ToDo: <span th:text="${employee.toDo}"></span>
                                            </h3>
                                            <h3>Progress <span
                                                    th:text="${employee.progress}"></span>
                                            </h3>
                                            <h3> Done <span th:text="${employee.done}"></span>
                                            </h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <a class="add-link btn btn-primary mt-4" href="/add">Add New Employee</a>
</div>

<!-- Include Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
